/* Helena's */

body {
    font-family: "Open Sans", sans-serif;
  }
  
  h1,
  h2,
  h3 {
    font-family: "Open Sans", cursive;
  }

  h5 {
      color: white;
  }

/* Kaung's */

.site-footer {
    background-color: #454545;
    color: white;
    padding: 20px 0;
    
  }


#thumb {
  img {
    width: 150px;
    height: 100px;
    border: 2px solid gray;
  }  
}


  h2 {
      font-family: "lobster", cursive;
      text-shadow: 0 1px 0 #bbbb, 0 2px 0 #bbbb, 
                  0 3px 0 #bbbb, 0 4px 0 #bbbb, 
                  0 5px 0 #bbbb, 0 6px 0 #bbbb, 
                  0 7px 0 #bbbb, 0 8px 0 #bbbb, 
                  0 9px 0 #bbbb, 0 10px 0 #bbbb, 
                  0 11px 0 #bbbb, 0 12px 0 #bbbb, 
                  0 20px 30px rgba(0, 0, 0, 0.5); 
  }



.navbar {
    background-color: 1430cf;
}



/*Sultan's */

.jumbotron {
  margin-bottom: 0;
}


#collec {
  background-color: bisque;
}

#hed {
  background-color: #454545;
  color: aliceblue;
}

.im1 {
  width: 100%;
}

footer {
  background-color: #454545;
  color: white;
  padding: 20px 0;
}

a:active {
  text-align: center;
}

#headerA{
position: center;
left: 0px;
}
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); }

.carousel {
  border: solid 5px #454545; 
}

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100; }