.im1 {
  width: 100%;
}

footer {
  background-image: linear-gradient(#454545, #c9af98, #2e2e2a);
  padding: 20px 0;
  color: #a39274;
}

a:active {
  text-align: center;
}

#headerA {
  background-color: #cac0ae;
  margin-bottom: 30px;
}

.carousel-caption {
  background-color: #cac0ae;
}

.carousel {
  border: solid 5px #cac0ae;
}

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: #bdb59f;
}

#hed {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to bottom, #454948, #c9af98, #30302c);
  color: #e7e2d8;
}

body {
  font-family: "Roboto", sans-ser;
  color: #a39274;
}

.navbar {
  background-image: linear-gradient(to right, #3b342e, #8d7563, #6e5640);
  color: #beb090;
  font-family: "EB Garamond";
}

.discover {
  background-image: linear-gradient(to right, #c7c2ae, #c9af98, #2e2e2a);
  color: #6e6657;
  padding: 25px;
}

#acc {
  background-image: linear-gradient(to right, #c6c9c8, #c9af98, #2e2e2a);
  color: #61553e;

  padding: 30px;
  margin: 0;
}

#about {
  margin-top: 25px;
}

.mid {
  margin-top: 20px;
}

.about {
  background-image: linear-gradient(to right, #ccc09f, #2e2e2a, #c9af98);
  color: #928668;
}

.list-unstyled li a {
  color: #d8d4ca;
}

.contact a {
  color: #d8d4ca;
}

.nav-link {
  color: #91846a;
}

.nav-link:hover {
  color: #6e6657;
}
#loginButton {
  color: #2e2e2a;
}
.card {
  border: solid 5px #cac0ae;
}
#hed h1,
h3 {
  margin-top: 15px;
}
