.jumbotron {
  margin-bottom: 0;
}

#collec {
  background-color: bisque;
}

#hed {
  background-color: #454545;
  color: aliceblue;
}

.im1 {
  width: 100%;
}

footer {
  background-color: #454545;
  color: white;
  padding: 20px 0;
}

a:active {
  text-align: center;
}

a #headerA{
position: center;
left: 0px;
}