body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 
                 0 3px 0 #ccc, 0 4px 0 #ccc, 
                 0 5px 0 #ccc, 0 6px 0 #ccc, 
                 0 7px 0 #ccc, 0 8px 0 #ccc, 
                 0 9px 0 #ccc, 0 10px 0 #ccc, 
                 0 11px 0 #ccc, 0 12px 0 #ccc, 
                 0 20px 30px rgba(0, 0, 0, 0.5); 
}

h2 {
    color: white;
}

header h2 {
    color: #CEC8FF;
}

.site-footer {
    background-image: linear-gradient(#c0bfcc, rgb(26, 24, 24));
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: url('../img/bergen-norway-frozen-inspired-family-vacation.jpg');
    background-size: cover;

    color: rebeccapurple;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: #b64646;
}


