<<<<<<< HEAD
body {
    font-family: "Open Sans", sans-serif;
  }
  
  h1,
  h2,
  h3 {
    font-family: "Open Sans", cursive;
  }

  h5 {
      color: white;
  }

// Kaung's

.site-footer {
    //background-image: linear-gradient(to right,#24136e, #1430cf, #030433, white);
    //background-image: linear-gradient(to right, #c0bfcc, rgb(26, 24, 24));
    background-color: #454545;
    color: white;
    padding: 20px 0;
    
  }


#containerT {
  img {
    width: 150px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    border: 3px solid gray;
  }  
}

h2 {
    font-family: "Lobster", cursive;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 
                 0 3px 0 #ccc, 0 4px 0 #ccc, 
                 0 5px 0 #ccc, 0 6px 0 #ccc, 
                 0 7px 0 #ccc, 0 8px 0 #ccc, 
                 0 9px 0 #ccc, 0 10px 0 #ccc, 
                 0 11px 0 #ccc, 0 12px 0 #ccc, 
                 0 20px 30px rgba(0, 0, 0, 0.5); 
}

.navbar {
    background-color: rgb(75, 69, 69);
}

.site-footer {
  background-image: linear-gradient(to right,#24136e, #1430cf, #030433, white);
  padding: 20px 0;

//Sultan's 

.jumbotron {
    margin-bottom: 0;
  }

.jumbotron {
  margin-bottom: 0;
}
>>>>>>> c4c967918062279ace1db4d4657049c97ed012e1

#collec {
  background-color: bisque;
}

#hed {
  background-color: #454545;
  color: aliceblue;
}

.im1 {
  width: 100%;
}

footer {
  background-color: #454545;
  color: white;
  padding: 20px 0;
}

a:active {
  text-align: center;
}

#headerA{
position: center;
left: 0px;
}
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); }

.carousel {
  border: solid 5px #454545; 
}

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100; }